th, td {
    font-size: 10px;
    font-weight: 700;
    color: #3D3C3C;
    font-family: Montserrat;
    line-height: 12px;
    padding: 0 0 20px;
}

th {
    text-align: left;
}

td {
    text-align: right;
    width: 150px;
}

.radius-12 {
    border-radius: 12px;
}

.btn-radius {
    border-radius: 20px;
}

@media (min-width: 1024px) {
    th, td {
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        color: #3D3C3C;
        font-family: Montserrat;
        padding: 0 0 20px;
    }

    td {
        width: 250px;
    }
    
}