<div class="py-4">
    <h5 class="mx-3 lg:mx-2 mb-2 text-[11px] lg:text-[24px] text-[#3D3C3C] monsetb lg:text-center">Pago de préstamo</h5>
    <div
        class="flex flex-col-reverse lg:flex-row justify-between lg:items-center border-t-2 border-[#00AF91] py-5 lg:py-10 mx-3">
        <h4 class="w-[200px] lg:w-auto text-[24px] lg:text-[34px] text-[#3D3C3C] monsetb pt-3 lg:pt-0">Pago realizado
            con éxito</h4>
        <mat-icon class="text-[#00AF91] text-[32px] mr-[10px]">done_all</mat-icon>
    </div>
    <div class="border-t border-b border-[#00AF91] pt-8 mx-3 lg:mx-2">
        <table class="w-full">
            <tr>
                <th>Cuenta de cargo</th>
                <td>Cuenta - Ahorros Soles 102012321001691937</td>
            </tr>
            <tr>
                <th>Tipo de préstamo</th>
                <td>Prendamás Clásico - Soles 102013201002201399</td>
            </tr>
            <tr>
                <th>Número de operación</th>
                <td>001</td>
            </tr>
            <tr>
                <th>Fecha de vencimiento</th>
                <td>31/10/2022</td>
            </tr>
            <tr>
                <th>Fecha de pago</th>
                <td>24/11/2021</td>
            </tr>
            <tr>
                <th>Monto pagado </th>
                <td>
                    <h5 class="text-[24px] monsetb">S/ 80.00</h5>
                </td>
            </tr>
        </table>
    </div>
    <div class="mx-3 lg:mx-2 py-5 border-b border-[#00AF91]">
        <label class="lg:text-[1rem] text-[11px] text-[#3D3C3C] monsetb">Información del pago</label>
        <div class="flex flex-col lg:flex-row items-center mt-2.5 lg:space-x-5">
            <div style="border-radius: 12px;"
                class="flex px-4 h-[5rem] bg-[#ECFEFB] monsetb w-full lg:w-[21.4rem] flex flex-wrap justify-between content-center">
                <div class="text-[#3D3C3C]">
                    <p class="monset text-[0.75rem]">Tipo de cambio</p>
                    <p class="monsetb text-[1rem]">S/ 4.00</p>
                </div>
                <div class="text-[#3D3C3C] pr-10">
                    <p class="monset text-[0.75rem]">Monto al cambio</p>
                    <p class="monsetb text-[1rem]">$ 25.00</p>
                </div>
            </div>
            <div
                class="lg:w-[400px] h-[5rem] rounded-[12px] bg-[#ECFEFB] text-[#1A3184] flex justify-center items-center mt-4 lg:mt-0 py-2 space-x-2 lg:space-x-8">
                <mat-icon class="ml-3 lg:ml-0 text-[#F34E4E]">warning</mat-icon>
                <p class="text-xs monset lg:w-[280px] pr-3 lg:pr-0 text-[#F34E4E] leading-[14px]">Tu operación se
                    realizó con éxito.
                    Sin embargo, no se pudo enviar la constancia debido a que no cuentas con un correo registrado.
                    Ingresa a
                    la opción "Mi perfil" para registrar tu correo electrónico.
                </p>
            </div>
        </div>
    </div>

    <div
        class="w-11/12 lg:w-[400px] mx-auto h-[75px] rounded-[12px] bg-[#ECFEFB] text-[#1A3184] flex justify-center items-center my-5 space-x-2 lg:space-x-8">
        <mat-icon class="ml-3 lg:ml-0">email</mat-icon>
        <p class="text-xs monset lg:w-[280px] pr-3 lg:pr-0">La constancia ha sido remitida a tu correo:
            ach**********@cajametropolitana.com.pe
        </p>
    </div>
    <div class="flex justify-center pb-14 lg:py-4">
        <button mat-raised-button class="w-11/12 mx-auto lg:w-[400px] h-[40px] radius-12">
            <mat-icon class="text-[#00AF91] lg:ml-3">vertical_align_bottom</mat-icon>
            <span class="mx-[2.5rem] lg:mx-[5rem] text-sm text-[#8F8F8F] monsetb">Descargar constancia</span>
        </button>
    </div>
    <div
        class="py-2 bg-[#E8F5FF] lg:bg-transparent lg:py-12 fixed lg:relative bottom-0 left-0 w-full flex justify-center items-center space-x-5">
        <button mat-button
            class="bg-[#00AF91] text-[0.844rem] text-white monsetb button w-[43%] lg:w-[190px] h-[40px] lg:h-[60px] btn-radius">Nueva
            pago</button>
        <button mat-button
            class="bg-[#00AF91] text-[0.844rem] text-white monsetb button w-[43%] lg:w-[190px] h-[40px] lg:h-[60px] btn-radius">Ir
            al
            inicio</button>
    </div>

</div>