<div class="w-full h-auto flex flex-col justify-between">
  <div>
    <div class="lg:flex hidden justify-center pt-5">
      <div>
        <img alt="logo" class="h-[2.438rem]  w-[9.438rem]" src="assets/img/logo.png">
      </div>
    </div>
    <div class="lg:hidden block flex justify-between px-6 pt-4 lg:pt-6">
      <div class="monset text-base text-blue-600 pt-2">Deivy</div>
      <img alt="avatar" class="h-10 w-10" src="assets/img/avatar.svg">
    </div>
    <div>
      <mat-nav-list>
        <button (click)="redirectGeneral(); closeSideNav.emit(); closeSideNav.emit();" class="w-full focus:outline-none flex justify-content-center">
          <a disabled class="monsetb text-xxs bg-white isInactive xl:text-sm w-full text-left mb-1 h-11 focus:outline-none" mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'/home'">
            <mat-icon class="mr-5 lg:mr-2 xl:mr-4 2xl:mr-5">home</mat-icon>
            Inicio
          </a>
        </button>

        <button (click)="redirectTransfer(); closeSideNav.emit();" class="w-full focus:outline-none flex justify-content-center">
          <a disabled class="monsetb text-xxs bg-white isInactive xl:text-sm w-full text-left mb-1 h-11 focus:outline-none" mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'/dashboard/transferencias'">
            <mat-icon class="mr-5 lg:mr-2 xl:mr-4 2xl:mr-5">swap_horiz</mat-icon>
            Transferencias
          </a>
        </button>

        <button (click)="redirectPagos(); closeSideNav.emit();" class="w-full focus:outline-none flex justify-content-center">
          <a disabled class="monsetb text-xxs bg-white isInactive xl:text-sm w-full text-left mb-1 h-11 focus:outline-none" mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'/pagos'">
            <mat-icon class="mr-5 lg:mr-2 xl:mr-4 2xl:mr-5">local_atm</mat-icon>
            Pagos
          </a>
        </button>

        <button (click)="redirectProduct(); closeSideNav.emit();" class="w-full focus:outline-none flex justify-content-center">
          <a disabled class="monsetb text-xxs bg-white isInactive xl:text-sm w-full text-left mb-1 h-11 focus:outline-none" mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'/dashboard/productos'">
            <mat-icon class="mr-5 lg:mr-2 xl:mr-4 2xl:mr-5">add_circle</mat-icon>
            Compra y venta de M.E
          </a>
        </button>

        <button (click)="redirectProduct(); closeSideNav.emit();" class="w-full focus:outline-none flex justify-content-center">
          <a disabled class="monsetb text-xxs bg-white isInactive xl:text-sm w-full text-left mb-1 h-11 focus:outline-none" mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'/dashboard/productos'">
            <mat-icon class="mr-5 lg:mr-2 xl:mr-4 2xl:mr-5">archive</mat-icon>
            Productos
          </a>
        </button>
      </mat-nav-list>
    </div>
  </div>
  <div>
    <div class="mx-2 lg:hidden">
      <mat-divider></mat-divider>
      <mat-nav-list>
        <button (click)="closeSideNav.emit();" class="w-full focus:outline-none flex justify-content-center">
          <a disabled class="monsetb text-xxs bg-white isInactive xl:text-sm w-full text-left mb-1 h-11 focus:outline-none" mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'/dashboard/perfil'">
            <mat-icon class="mr-5 lg:mr-2 xl:mr-4 2xl:mr-5">account_circle</mat-icon>
            Mi perfil
          </a>
        </button>

        <button (click)="closeSideNav.emit();" class="w-full focus:outline-none flex justify-content-center">
          <a disabled class="monsetb text-xxs bg-white isInactive xl:text-sm w-full text-left mb-1 h-11 focus:outline-none" mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'/dashboard/configuracion'">
            <mat-icon class="mr-5 lg:mr-2 xl:mr-4 2xl:mr-5">settings</mat-icon>
            Configuración
          </a>
        </button>

        <button (click)="closeSideNav.emit();" class="w-full focus:outline-none flex justify-content-center">
          <a disabled class="monsetb text-xxs bg-white isInactive xl:text-sm w-full text-left mb-1 h-11 focus:outline-none" mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'/dashboard/create-account'">
            <mat-icon class="mr-5 lg:mr-2 xl:mr-4 2xl:mr-5">verified_user</mat-icon>
            Seguridad
          </a>
        </button>
      </mat-nav-list>
      <mat-divider></mat-divider>
    </div>
    <div class="flex justify-between w-full ">
      <div
           class="lg:hidden cursor-pointer lg:absolute bottom-0 left-0 h-16 w-full flex justify-start pl-1">
        <!-- border-t border-gray-700 -->
        <button mat-button class="focus:outline-none pb-3">
          <mat-icon class="text-2xl">power_settings_new</mat-icon>
        </button>
        <div class="pt-5 monsetb text-base">Salir</div>
      </div>
      <div class="cursor-pointer lg:absolute bottom-0 left-0 h-16 w-full flex justify-start pl-1">
        <button mat-button class="lg:absolute lg:bottom-5  focus:outline-none">
          <mat-icon class="text-[1.25rem] lg:text-base text-[#7B7B7B]">help</mat-icon>
          <a href="https://www.cajametropolitana.com.pe/principal" target="_blank"
             class="pt-1 ml-3 monsetb monsetb text-base lg:text-xs xl:text-sm">Ayuda</a>
        </button>
      </div>
    </div>
  </div>
</div>
