<div class="min-h-full">
  <mat-toolbar class="bg-[#00AF91] h-auto overflow-x-hidden">
    <div class="lg:block hidden w-full pt-5 pb-3 overflow-x-hidden">
      <div class="block w-full">
        <div class="flex justify-between w-full">
          <div class="text-white lg:ml-5 xl:ml-12 text-2xl monsetb">Banca por internet</div>
          <div class="flex justify-start lg:mr-5 xl:mr-14">
            <div class="rounded-full bg-white h-8 w-8 text-center mr-8 mt-2">
              <mat-icon class="text-xl">notifications</mat-icon>
            </div>
            <img alt="avatar" class="h-10 w-10" src="assets/img/avatar.svg">
            <button [matMenuTriggerFor]="beforeMenu" mat-icon-button class="mt-1 ml-2 focus:outline-none">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #beforeMenu="matMenu" xPosition="before">
              <button mat-menu-item>
                <mat-icon class="text-blue-900">account_circle</mat-icon> Mi perfil
              </button>
              <button mat-menu-item>
                <mat-icon class="text-blue-900">settings</mat-icon>Configuración
              </button>
              <button mat-menu-item>
                <mat-icon class="text-blue-900">verified_user</mat-icon>Seguridad
              </button>
              <mat-divider></mat-divider>
              <button mat-menu-item>
                <mat-icon>logout</mat-icon>Salir
              </button>
            </mat-menu>
          </div>
        </div>
      </div>
      <div class="block w-full pt-5 pb-5">
        <div class="flex justify-between w-full">
          <div class="text-white text-base font-medium lg:ml-5 xl:ml-12 monsetb">Bienvenido(a)</div>
          <div class="text-white text-xs monset mr-20">
            <div class="font-thin">Último acceso:</div>
            <div class="font-thin">10/11/11</div>
          </div>
        </div>
      </div>
    </div>
    <div class="block lg:hidden w-full pt-5 pb-3">
      <div class="flex justify-between">
        <div class="monsetb text-base text-white">Banca por internet</div>
        <div class="block">
          <!--<mat-slide-toggle (change)="changeevent($event)" color="primary" [(ngModel)]="ocultarSaldos" class="mobile-toggle"></mat-slide-toggle>-->
        </div>
      </div>
      <div class="flex justify-between mt-2">
        <div class="monsetb text-sm text-white">Bienvenido(a)</div>
        <div class="monset text-[0.625rem] lg:text-sm text-white lg:mt-2">Ocultar saldos</div>
      </div>
      <div class="monset text-[0.625rem] lg:text-sm text-white mt-2">Último acceso: </div>
    </div>
  </mat-toolbar>

  <div class="flex justify-between py-6">
    <div class="w-full lg:w-[65%] px-4">
      <div class="flex justify-between w-full">
        <div>
          <span style="letter-spacing: 0.0015em; line-height: 20px;" class="monsetb text-[1rem] text-[#1A3184]">QUIERO CONSULTAR</span>
        </div>
        <div class="bg-gray-200 rounded-lg py-1 px-6 lg:flex hidden justify-start">
          <div class="monset text-xs pt-1 pr-3 text-gray-500">Ocultar saldos</div>
          <mat-slide-toggle color="primary"></mat-slide-toggle>
        </div>
      </div>
      <div class="w-full border-t-2 mt-4 pt-2 border-[#55D6BF]">
        <div class="flex justify-between w-full">
          <div>
            <span style="letter-spacing: 0.0015em; line-height: 20px;" class="monsetb text-[1rem] text-[#050505]">Mis cuentas</span>
          </div>
          <div class="flex cursor-pointer">
            <span>Editar</span>
            <mat-icon>edit</mat-icon>
          </div>
        </div>

        <div class="mt-6 overflow-y-auto overflow-x-hidden h-[18rem] p-2">

          <div *ngFor="let cuent of cuentas" class="flex cursor-pointer mb-4 h-[4.438rem] justify-between flex-wrap content-center px-4 box">
            <div class="lg:flex lg:w-[94%]">
              <div class="lg:w-[52%]">
                <span class="text-[0.875rem]">{{cuent.title + ' - ' + cuent.moneda}}</span>
              </div>
              <div class="lg:w-[42%]">
                <div>
                  <span *ngIf="cuent.moneda === 'dolares'">$ {{cuent.saldo | number : '1.2-2'}}</span>
                  <span *ngIf="cuent.moneda === 'soles'">S/ {{cuent.saldo | number : '1.2-2'}}</span>
                </div>
                <div>
                  <span style="letter-spacing: 0.005em; line-height: 15px;" class="text-[0.75rem]">Saldo disponible</span>
                </div>
              </div>
            </div>
            <div class="w-[6%]">
              <mat-icon>arrow_forward_ios</mat-icon>
            </div>
          </div>
        </div>

      </div>

      <div class="w-full border-t-2 mt-4 pt-2 border-[#55D6BF]">
        <div class="flex justify-between w-full">
          <div>
            <span style="letter-spacing: 0.0015em; line-height: 20px;" class="monsetb text-[1rem] text-[#050505]">Mis préstamos</span>
          </div>
          <div class="flex cursor-pointer">
            <span>Editar</span>
            <mat-icon>edit</mat-icon>
          </div>
        </div>

        <div class="mt-6 h-[22rem]">
          <div class="flex h-[12.125rem] px-8 justify-between flex-wrap content-center box">
            <div class="flex justify-between w-full">
              <div class="flex justify-between space-x-8">
                <div><span class="text-[#3D3C3C] text-[0.75rem]" style="align-items: center; letter-spacing: 0.0025em;">Consumo prendamás  clásico</span></div>
                <div><button class="bg-[#00AF91] btn-prestamo text-white w-[10.375rem]" mat-button>Pagar cuota</button></div>
              </div>
              <div><mat-icon>arrow_forward_ios</mat-icon></div>
            </div>
            <div class="w-full mt-8 flex justify-between text-[#3D3C3C] text-[0.75rem]">
              <div class="text-center">
                <div><span>Pago mínimo</span></div>
                <div class="mt-6"><span class="text-[1rem] monsetb">S/ 342.20</span></div>
              </div>
              <div class="text-center">
                <div class="text-left"><span>Fecha de pago</span></div>
                <div class="mt-6 flex flex-wrap content-center space-x-2">
                  <span class="text-[1rem] monsetb">06/07/2021</span>
                  <mat-icon class="text-[#F9B208]">info</mat-icon>
                </div>
              </div>
              <div class="text-center">
                <div><span>Saldo de capital</span></div>
                <div class="mt-6"><span class="text-[1rem] monsetb">S/ 11,728.85</span></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="lg:block hidden w-[35%] px-4">
      <span>demo</span>
    </div>
  </div>
</div>
