<div class="px-2 py-4">
  <div class="flex justify-center mb-2 text-[1.5rem] text-[#3D3C3C] monsetb">
    <h5>Pago de préstamo</h5>
  </div>
  <form [formGroup]="pagosPrestamos">
    <div class="w-full flex justify-center border-t-2 border-[#00AF91] ">
      <div class="w-full mt-8">
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-8 content-center w-full">
          <div class="w-full">
            <label class="lg:text-[1rem] text-[0.688rem] text-[#3D3C3C] monset font-bold">Préstamo</label>
            <mat-form-field class="w-full mt-1.5" floatLabel="never" appearance="outline">
              <!-- <mat-label>Elige el préstamo a pagar</mat-label> -->
              <mat-select formControlName="selectOrigin" [(ngModel)]="prestamosPagar" name="prestamosPagar" placeholder="Elige el préstamo a pagar">
                <mat-option *ngFor="let prest of prestamos" [value]="prest.value">
                  <div class="my-3 -mt-2 text-[0.875rem]">
                    <div class="-mb-6">{{prest.title + ' - ' + prest.moneda}}</div>
                    <div class="-mb-6">{{prest.cuenta}}</div>
                  </div>
                </mat-option>
              </mat-select>
              <mat-error *ngIf="selectOrigin.invalid">{{getErrorMessageSelectOrigin()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="lg:w-full">
            <label class="lg:text-[1rem] text-[0.688rem] text-[#3D3C3C] monset font-bold">Cuenta de cargo</label>
            <mat-form-field class="w-full mt-1.5" appearance="outline" floatLabel="never">
              <!-- <mat-label>Elige tu cuenta de cargo</mat-label> -->
              <mat-select formControlName="selectDestiniti" [(ngModel)]="cuentaCargo" name="cuentaCargo" placeholder="Elige tu cuenta de cargo">
                <mat-option *ngFor="let cuent of cuenta" [value]="cuent.monto">
                  <div class="flex justify-between my-3 -mt-2 text-[0.875rem]">
                    <div>
                      <div class="-mb-6">{{cuent.title + ' - ' + cuent.moneda}}</div>
                      <div class="-mb-6">{{cuent.cuenta}}</div>
                    </div>
                    <div class="flex flex-wrap content-center">
                      <div class="flex justify-between" *ngIf="cuent.moneda === 'dólares'">
                        <div>$</div>
                        <div>{{cuent.monto | number : '1.2-2'}}</div>
                      </div>
                      <div class="flex justify-between" *ngIf="cuent.moneda === 'soles'">
                        <div>S/</div>
                        <div>{{cuent.monto | number : '1.2-2'}}</div>
                      </div>
                    </div>
                  </div>
                </mat-option>
              </mat-select>
              <mat-error *ngIf="selectDestiniti.invalid">{{getErrorMessageSelectDestiniti()}}</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div *ngIf="selectOrigin.valid && selectDestiniti.valid" class="grid lg:grid-cols-2 grid-cols-1 gap-8 content-center w-full">
          <div class="lg:w-full ">
            <label class="lg:text-[1rem] text-[0.688rem] text-[#3D3C3C] monset font-bold">Tipo de pago</label>
              <div class="flex flex-wrap content-center px-4 w-full lg:w-[13.813rem] h-[3.188rem] mt-2.5 bg-[#ECFEFB]" style="box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);border-radius: 12px;">
                <mat-radio-button checked [value]="pagomin">Pago mínimo</mat-radio-button>
              </div>
          </div>
          <div *ngIf="tokenNumber !== '1234'" class="w-full lg:w-[18.375rem]">
            <label class="lg:text-[1rem] text-[0.688rem] text-[#3D3C3C] monset font-bold">Monto a pagar</label>
            <div style="border-radius: 12px;" class="px-4 mt-2.5 h-[4.5rem] bg-[#E8F5FF] monsetb w-full lg:w-[14.813rem] flex flex-wrap content-center">
              <span class="text-[24px]">S/ 80.00</span>
            </div>
          </div>
        </div>

        <div class="pt-6 border-t-2 mt-6 border-[#D0D0D0]">
          <div *ngIf="selectOrigin.valid && selectDestiniti.valid">
            <label class="lg:text-[1rem] text-[0.688rem] text-[#3D3C3C] monset font-bold">Información del pago</label>
            <div style="border-radius: 12px;" class="flex px-4 mt-2.5 h-[4.5rem] bg-[#ECFEFB] monsetb w-[21.4rem] flex flex-wrap justify-between content-center">
              <!-- space-x-4  -->
              <div class="text-[#3D3C3C]">
                <p class="monset text-[0.75rem]">Tipo de cambio</p>
                <p class="monsetb text-[1rem]">S/ 4.00</p>
              </div>
              <div class="text-[#3D3C3C] pr-10">
                <p class="monset text-[0.75rem]">Monto al cambio</p>
                <p class="monsetb text-[1rem]">$ 25.00</p>
              </div>
            </div>
          </div>
          <div  *ngIf="tokenNumber === '1234'" class="flex justify-between">
            <div style="border-radius: 12px;" class="px-4 h-[4.5rem] bg-[#E8F5FF] monsetb w-[14.813rem] flex flex-wrap content-center">
              <span class="text-[1.5rem]">S/ 80.00</span>
            </div>
            <div style="border-radius: 12px;" class="flex px-4 h-[4.5rem] bg-[#ECFEFB] monsetb w-[21.4rem] flex justify-between flex-wrap content-center">
              <!-- space-x-4 -->
              <div class="text-[#3D3C3C]">
                <p class="monset text-[0.75rem]">Fecha de vencimiento</p>
                <p class="monsetb text-[1rem]">31/10/2021</p>
              </div>
              <div class="text-[#3D3C3C] pr-10">
                <p class="monset text-[0.75rem]">Monto</p>
                <p class="monsetb text-[1rem]">S/ 80.00</p>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="selectDestiniti.valid && selectOrigin.valid" class="flex justify-center border-t-2 mt-6 border-[#D0D0D0] text-center monset py-6">
          <div class="w-full">
            <p style="letter-spacing: 0.007em;line-height: 23px;" class="text-[1rem]">Para confirmar la operación, ingresa el Token Digital</p>
            <div class="mt-12">
              <mat-form-field class="w-[18.75rem]" appearance="outline">
                <mat-label>Ingresa el Token Digital</mat-label>
                <input formControlName="token" type="password" class="token h-[2.176rem]" matInput maxlength="4" minlength="4" placeholder="°°°°" [(ngModel)]="tokenNumber" autocomplete="disabled">
                <mat-icon *ngIf="tokenNumber === '1234'" class="text-[#00AF91]" matSuffix>check_circle</mat-icon>
                <mat-error *ngIf="token.invalid">{{getErrorMessageToken()}}</mat-error>
                <!--<mat-error *ngIf="token.hasError('validartoken')">Ingresa el Token Digital correcto</mat-error>-->
              </mat-form-field>
            </div>
            <div class="mt-4" style="text-align: center">
              <div (click)="imprimit()" class="w-[2.625rem] cursor-pointer h-[2.438rem] mx-auto bg-[#E8F5FF]" style="border-radius: 12px">
                <mat-icon class="text-[1.25rem] my-2 text-[#7B7B7B]">stars</mat-icon>
              </div>
              <p class="monsetb text-[0.688rem] lg:text-base text-[#8F8F8F]">Agregar a operaciones frecuentes</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div *ngIf="selectDestiniti.invalid || selectOrigin.invalid" class="py-4">
    <div style="border-radius: 12px;" class="w-full lg:w-[45.125rem] h-[7.563rem] lg:h-[34.375rem] bg-[#F6F6F6] flex flex-wrap content-center px-10 lg:px-20 text-center">
      <span class="lg:text-[1.5rem] text-[0.875rem] text-[#7B7B7B] lg:monsetb">Selecciona tu cuenta de origen y cuenta de cargo para visualizar el monto a pagar.</span>
    </div>
  </div>
  <div class="flex justify-center w-full">
    <button [disabled]="pagosPrestamos.invalid || tokenNumber !== '1234'" routerLink="/pago-exitoso" style="letter-spacing: 0.055em;" mat-button class="bg-[#00AF91] text-[0.844rem] text-white monsetb button w-[21.125rem] h-[3.75rem]">Confirmar pago</button>
  </div>
</div>
